body {
    padding: 0;
    margin: 0;
}

* {

    justify-content: center;
}

nav {
    justify-content: center;
    padding: 6px 2px;
    background-color: cyan;
}

ul {

    display: flex;

}

ul li {
    margin-left: 10%;
    list-style: none;
}

.container {
    background-color: rgb(219, 221, 224);
    height: fit-content;
    display: flex;
    width: 50%;
    margin-left: 28%;
}

#next {
    color: black;
    text-decoration: none;
    background-color: rgb(12, 222, 75);
    border-radius: 9px;
    padding: 5px 12px;
}

#next:hover {
    background-color: rgb(60, 81, 216);
}

#next1 {
    display: flex;
}

#heading {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-left: 28%;
    width: 50%;
    background-color: rgb(230, 125, 60);
}